* {
    margin: 0;
    padding: 0;
    /* background-color: crimson; */
}
header {
    background-color: #f5f5f5;
    font-family: sans-serif;
}
.navbar {
    width: 80%;
    margin: 0 auto;
}
.navbar1 {
    display: flex;
    position: relative;
    margin-top: 10px;
}
.nav1 {
    position: relative;
    display: flex;
    top: 10px;
    color: #555;
}
.hedr2 {
    position: relative;
    top: 17px;
    font-size: 17px;
    margin-left: 20px;
}
.hedr1 h1 a {
    background-color: #f8f8f8;
    color: #295093;
    border-radius: 5px;
    padding: 4px;
    text-decoration: none;
    font-size: 30px;
}
.hedr2 {
    position: relative;

}
.nav2 {
    display: flex;
    position: relative;
}
.inp {
    position: relative;
    margin-left: 70px;
}
.sear {
    position: relative;
    margin-top: 37px;
}
.ru {
    display: inline;
    position: relative;
    margin-top: 20px;
    margin-left: px;
}
.ru .span {
    position: relative;
    margin-top: -20px;
    margin-left: 25px;
}
.te,
.logo {
    position: relative;
    margin-top: 15px;
}
.logo img {
    position: relative;
    left: -140px;
    margin-top: 7px;
}
.navbar2 ul li  {
    display: inline;
    position: relative;
    list-style-type: none;
}
.navbar2 ul li a {
    display: inline;
    position: relative;
    text-decoration: none;
    padding: 15px;
    color: black;
}
.navbar2 ul {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 15px 0;
    border-radius: 5px;
    border: 1px solid #f4f4f4
}
.navbar3 {
    position: relative;
}
main {
    width: 80%;
    margin: 0 auto;
    font-family: sans-serif;
}
.main {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #f5f5f5;
    padding: 25px 35px;
    border-radius: 5px;
 
} 
.may1 {
    position: relative;
    display: flex;
    width: 25%;
    margin-left: 30px;
}
.elvir1 {
    position: relative;
    margin-left: 20px;
}
.may2 {
    position: relative;
    display: flex;
    width: 25%;
    margin-left: 30px;
}
.elinfected1 {
    position: relative;
    margin-left: 20px;
}
.may3 {
    position: relative;
    display: flex;
    width: 25%;
    margin-left: 30px;
}
.elrecovid1 {
    position: relative;
    margin-left: 20px;
}
.may4 {
    position: relative;
    display: flex;
    margin-left: 30px;
}
.eldead1 {
    position: relative;
    margin-left: 20px;
}
.mayn {
    display: flex;
    position: relative;
    margin-top: 20px;
}
.maynimg {
    width: 35%

}
.maynimg1 {
    width: 35%;
    margin-left: 25px;
}
.maynimg2 {
    margin-left: 25px;
    width: 35%;
}
.mayn1 {
    display: flex;
    position: relative;
    margin-top: 20px;
}
.maynimg4 {
    width: 33%;
}
.maynimg5 {
    width: 33%;
    margin-left: 25px;
}
.maynimg6 {
    width: 33%;
    margin-left: 25px;
}
.uved1 {
    position: relative;
    margin-top: 20px;
    display: flex;
    height: 100px;
    background-color: #EFBA542E;
    padding: 20px;
}
.uvedom1 {
    position: relative;
    top: 5px;
    left: 20px;
}
.uvedom2 {
    position: relative;
    top: 14px;
    left: 40px;
}
.uvedom3 {
    position: relative;
    top: 9px;
    left: 10%;
}
.uvedom3 button {
    padding: 5px 15px;
    border: none;
    background-color: #FF8B36E5;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
}
.mainblock {
    display: flex;
    margin-top: 20px;
    font-family: sans-serif;
}
.section1,
.section2,
.section3 {
    display: flex;
    margin: 20px 20px 20px 0;
}
.section1right,
.section2right,
.section3right {
    position: relative;
    left: 5%;
}
.btn1 button {
    position: relative;
    padding: 8px 30px;
    background-color: #295093;
    border-radius: 6px;
    border: none;
    color: #fff;
    left: 280px;
    margin-bottom: 20px;
}
.mainright {
    width: 45%;
    position: relative;
    top: 10px;
}
.mainright1 {
    position: relative;
    margin-left: 20px;
    background-color: #f4f4f4;
    border-radius: 7px;
    padding: 20px;
}
.mainright1 hr {
    border: 2px solid #b7b7b7;
}
.mainright2 img {
    position: relative;
    top: 20px;
    left: 20px;
    
}
.clr {
    clear: both;
}
.applick {
    position: relative;
    display: flex;
    background-color: #f5f5f5;
    padding: 40px 30px 0 30px;
}
.app2 {
    position: relative;
    top: -10px;
    padding: 10px;
}
.app3 {
    position: relative;
    top: 40px;
    left: 60px;
}
.app4 {
    position: relative;
    top: 20px;
    left: 20px;
}
footer {
    font-family: sans-serif;
    background-color: #295093;
    color: #fff;
    margin-top: 30px;
}
.footer {
    width: 80%;
    margin: 0 auto;
}
.footer1 {
    position: relative;
    display: flex;
    padding: 30px;
    margin-top: 30px;
}
.foot1 button {
    position: relative;
    padding: 7px 10px;
    background-color: #133C82;
    color: #fff;
    border-radius: 6px;
    border: none;
    left: -20px;
    top: 5px;
}
.foot2 {
    position: relative;
    top: 10px
}
.bot1 {
    position: relative;
    top: 9px;
    left: 20px;
}
.bot2 {
    position: relative;
    top: -16px;
    left: 30px;
}
.footer2 {
    display: flex;
    padding: 30px 20px;
}
.toot1 {
    position: relative;
    padding: 4px;
    width: 50%;
}
.toot2 ul li a,
.toot3 ul li a {
    position: relative;
    display: block;
    width: 100%;
    color: #fff;
    text-decoration: none;
}
.toot2 ul li,
.toot3 ul li {
    position: relative;
    top: 20px;list-style-type: none;
    width: 100%;
    left: 20px;
}
.forma {
    display: flex;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}
.form h4 {
    margin: 10px 0;
}
.form input, textarea {
    width: 95%;
    padding: 10px;
    border: 2px solid #28519386;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.form label,
.label label {
    display: block;
    margin-top: 15px;
}
.label label input {
    padding: 7px;
    width: 200px;
    border: 2px solid #28519386;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.formright {
    position: relative;
    top: 53px;
    left: 40px;
    width: 46%;
    height: 260px;
    border: 2px solid #BCC3CD;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: -12px 12px 5px 2px #294f915f;
}
.windo1 {
    position: relative;
    text-align: end;
}
.window {
    display: flex;
    box-sizing: border-box;
}
.window2 p a {
    position: relative;
    text-decoration: none;
    top: 10px;
    line-height: 29px;
    color: #888;
}
.infor a {
    position: relative;
    text-align: right;
    text-decoration: none;
    top: 10px;
    left: 70px;
    color: #888;
    font-size: 18px;
}
.windrow a {
    position: relative;
    left: 170px;
    top: 5px;
}
.telepngbutton {
    position: relative;
    background-color: #295091;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 4px 13px;
    top: 14px;
    left: 130px;
    font-size: 18px;   
}
.appgoogle {
    display: flex;
    position: relative;
    left: 63px;
    top: 25px;
}
.apple {
    position: relative;
    left: -20px;
}