* {
  padding: 0;
  margin: 0;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  /* background: linear-gradient(45deg, rgba(255,255,255,1) 20%, rgba(251,236,236,1) 100%); */
}

.img {
  float: left;
}

#navbar {
  font-family: sans-serif;
  margin-left: 25%;
}

#navbar ul li {
  float: left;
  list-style-type: none;
  display: inline;
  margin: 20px;
}

#navbar ul li a {
  text-decoration: none;
  color: #000;
}

.button {
  border: none;
  margin:13px 5px;
  border-radius: 20px;
  padding: 7px;
  background-color: #f33f45;
  color: white;
}

.button:hover {
  padding: 11px;
  margin: 5px;
  cursor: pointer;
  background-color: #f60000;
  
} 

.clr {
  clear: both;
}

.box1 {
  float: left;
  padding-top: 100px;
  font-family: sans-serif;
  width: 40%;
}

.box2 {
  display: inline-block;
  background-color: #fbe4e4;
  border-radius: 16px;
  padding: 5px;
}

.as {
  margin-bottom: 15px;
}

.corl {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #e66f6f;
  border-radius: 7px;
  margin: px;
}

.content {
  position: relative;
}


.bgimg {
  float: right;
  height: 400px;
  width: 400px;
  background-color: #e66f6f;
  border-radius: 200px;
}

.img1 {
  width: 30%;
}
