
body {
 
  margin: 0;
  padding: 0; 
}
.containerr {
 background-color: #f9f4f2;
}
.navbar {
  display: flex;
  width: 80%;
  margin: 20px auto;
  list-style-type: none;
}
.navbar ul li,
.navbar ul li a {
  position: relative;
  text-decoration: none;
  list-style-type: none;
  display: inline;
  top: 6px;
  margin-left: 20px;
  color: #000;
}
.navbtn {
  padding: 7px 25px;
  border: none;
  border-radius: 5px;
  background-color: #F72D57;
  color: #fff;
}
.page1 {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.header1 {
  position: relative;
  top:80px;
}
 .header1 h1 {
  font-weight:900;
  color: #3F3F3F;
  line-break: 80px;
}
.hedr1 {
  position: relative;
  top: 10px;
}
.hedr2 {
  position: absolute;
  top: -100px;
  left: 520px;
}
.page2 {
  width: 80%;
  margin: 0 auto;
}
.pageh2 h2 {
  font-size: 48px;
  text-align: center;
  position: relative;
  top: -120px;
}
.batons {
  position: relative;
  display: flex;
  top: -80px;
}
.batt {
  width: 270px;
  height: 70px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #fff;
}
.content {
  width: 270px;
  height: 300px;
  position: relative;
  top: 20px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 20px;
}
.burgerking {
  height: 400px;
  background-color: #F72D57;
  margin-top: 100px;
  margin-bottom: 150px;
}
.burger {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  top: -70px;
}
.burger-right {
  position: relative;
  color: #fff;
  top: 180px;
  left: 35px;
}
.page4 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 130px;
}
.hand-pacet {
  position: relative;
  display: flex;
}
.hand-pacet-batton {
  background-color: #F72D57; 
  color: #fff; border: none; 
  border-radius: 5px;
  width: 120px;
  height: 40px;
}
.hand-pacet-left {
  position: relative;
  top: 190px;
}
.hand-pacet-left h2 {
  font-weight: 700;
  position: relative;
}
.hand-pacet-right {
  position: relative;
  left: 140px;
  top: -30px;
}
.redd {
  position: relative;
  width: 281px;
  height: 213px;
  background-color: #F72D57;
  top: 60px;
}
.motocykl {
  position: relative;
  display: flex;
  width: 80%;
  margin: 80px 0;
}
.moto-left {
  position: absolute;
  top: -375px;
  left: 120px;
}
.moto-right {
  position: absolute;
  left: 700px;
  top: -280px;
}
.moto-right h2 {
  font-weight: 700;
}
.moto-right-batton {
  background-color: #F72D57; 
  color: #fff; border: none; 
  border-radius: 5px;
  width: 120px;
  height: 40px;
}

footer {
  background-color: #F72D57;
  height: 100px;
  position: relative;
  top: 80px;
}
.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.imgfooter {
  position: relative;
  top: 28px;
}
.ulfooter1,
.ulfooter2,
.ulfooter3 {
  position: relative;
  left: 53%;
  top: 22px;
  text-decoration: none;
  list-style-type: none;
}
.ulfooter1 li,
.ulfooter2 li,
.ulfooter3 li {
  list-style-type: none;
}
.ulfooter1 li a,
.ulfooter2 li a,
.ulfooter3 li a {
  text-decoration: none;
  color: #fff;
}

/* AboutUs page1 main*/

.abaut-page1 {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.coffe-page1 {
  position: relative;
  top: 100px;
}
.coffe-page1 h1 {
  font-weight: 800;
}
.coffe1 {
  position: relative;
  top: -45px;
}
.coffe2 {
  position: relative;
  top: -530px;
  left: 180px;
}
.abaut-page2 {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
  top: -320px;
}
.image-page2-1 h2 {
  font-size: 42px;
}
.image-page2-1 {
  position: relative;
  top: -50px;
}
.image-page2-2 {
  position: relative;
  top: 100px;
  left: 70px;
}
.abaut-page3 {
  position: relative;display: flex;
  width: 80%;
  margin: 0 auto;
  top: -150px;
}
.main-content1 h2 {
  font-weight: 600;
}
.main-content2 {
  position: relative;
  top: -80px;
  left: 60px;
}
.abaut-page4 {
  position: relative;
  height: 520px;
  background-color: #F72D57;
  color: #fff;
  top: -70px;
}
.abaut-main-page4 {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.content-page4-1 {
  position: relative;
  top: 85px;
}
.content-page4-2 h2 {
  font-weight: 600;
}
.content-page4-2 {
  position: relative;
  top: 160px;
  left: 60px;
}
.abaut-page5 {

}
.abaut-page5-h2 h2 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
.card-pagination {
  position: relative;
  display: flex;
  left: 10%;
  overflow: hidden;
}
