body {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  margin: 0;
  padding: 0;
   background-color: rgb(237, 237, 237);
}

.navbar {
  display: flex;
  width: 80%;
  margin: 20px auto;
  list-style-type: none;
}
.navbar ul li,
.navbar ul li a {
  position: relative;
  text-decoration: none;
  list-style-type: none;
  display: inline;
  top: 6px;
  margin-left: 20px;
  color: #000;
}
.navbtn {
  padding: 7px 25px;
  border: none;
  border-radius: 5px;
  background-color: #F72D57;
  color: #fff;
}
/* main */

.main {
  width: 80%;
  margin: 0 auto;
}
.page1 {
  position: relative;
  display: flex;
}
.header1 {
  position: relative;
  top: 110px;
}
.header1 h1 {
  font-weight: 800;
  color: #3F3F3F;
}
.header2 {
  position: relative;

}
.hedr1 {
  position: relative;
  top: -20px;
}
.hedr2 {
  position: relative;
  bottom: 780px;
  left: 100px;
}

.page2 {
  position:relative;
  display: fle;
  top: -800px;
  
}
.h2page2 {
  text-align: center;
  margin: 40px 0;
  font-weight: 750;
  color: #3F3F3F;
}
.battns {
  display: flex;
}
.btn {
  background-color: #F72D57; 
  color: #fff; 
  padding: 10px 85px;
}
.batton4 {
  padding: 15px 70px;
  margin: 5px;
  color: #F72D57;
  font-size: 21px;
  box-sizing: border-box;
}














/* footer */
footer {
  background-color: #F72D57;
  height: 100px;
}
.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.imgfooter {
  position: relative;
  top: 28px;
}
.ulfooter1,
.ulfooter2,
.ulfooter3 {
  position: relative;
  left: 53%;
  top: 22px;
  text-decoration: none;
  list-style-type: none;
}
.ulfooter1 li,
.ulfooter2 li,
.ulfooter3 li {
  list-style-type: none;
}
.ulfooter1 li a,
.ulfooter2 li a,
.ulfooter3 li a {
  text-decoration: none;
  color: #fff;
}