
body {
 
  margin: 0;
  padding: 0; 
}
.containerr {
 background-color: #f9f4f2;
}
.navbar {
  display: flex;
  width: 80%;
  margin: 20px auto;
  list-style-type: none;
}
.navbar ul li,
.navbar ul li a {
  position: relative;
  text-decoration: none;
  list-style-type: none;
  display: inline;
  top: 6px;
  margin-left: 20px;
  color: #000;
}
.navbtn {
  padding: 7px 25px;
  border: none;
  border-radius: 5px;
  background-color: #F72D57;
  color: #fff;
}
.page1 {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.header1 {
  position: relative;
  top:80px;
}
 .header1 h1 {
  font-weight:900;
  color: #3F3F3F;
  line-break: 80px;
}
.hedr1 {
  position: relative;
  top: 10px;
}
.hedr2 {
  position: absolute;
  top: -100px;
  left: 520px;
}
.page2 {
  width: 80%;
  margin: 0 auto;
}
.pageh2 h2 {
  font-size: 48px;
  text-align: center;
  position: relative;
  top: -120px;
}
.batons {
  position: relative;
  display: flex;
  top: -80px;
}
.batt {
  width: 270px;
  height: 70px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #fff;
}
.content {
  width: 270px;
  height: 300px;
  position: relative;
  top: 20px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 20px;
}
.burgerking {
  height: 400px;
  background-color: #F72D57;
  margin-top: 100px;
  margin-bottom: 150px;
}
.burger {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  top: -70px;
}
.burger-right {
  position: relative;
  color: #fff;
  top: 180px;
  left: 35px;
}
.page4 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 130px;
}
.hand-pacet {
  position: relative;
  display: flex;
}
.hand-pacet-batton {
  background-color: #F72D57; 
  color: #fff; border: none; 
  border-radius: 5px;
  width: 120px;
  height: 40px;
}
.hand-pacet-left {
  position: relative;
  top: 190px;
}
.hand-pacet-left h2 {
  font-weight: 700;
  position: relative;
}
.hand-pacet-right {
  position: relative;
  left: 140px;
  top: -30px;
}
.index-page5 {
  position: relative;
  bottom: 80px;
}
.redd {
  position: relative;
  width: 281px;
  height: 213px;
  background-color: #F72D57;
  top: 60px;
}
.motocykl {
  position: relative;
  display: flex;
  width: 80%;
  margin: 80px 0;
}
.moto-left {
  position: absolute;
  top: -375px;
  left: 120px;
}
.moto-right {
  position: absolute;
  left: 700px;
  top: -280px;
}
.moto-right h2 {
  font-weight: 700;
}
.moto-right-batton {
  background-color: #F72D57; 
  color: #fff; border: none; 
  border-radius: 5px;
  width: 120px;
  height: 40px;
}

footer {
  background-color: #F72D57;
  height: 100px;
  position: relative;
  
}
.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.imgfooter {
  position: relative;
  top: 28px;
}
.ulfooter1,
.ulfooter2,
.ulfooter3 {
  position: relative;
  left: 53%;
  top: 22px;
  text-decoration: none;
  list-style-type: none;
}
.ulfooter1 li,
.ulfooter2 li,
.ulfooter3 li {
  list-style-type: none;
}
.ulfooter1 li a,
.ulfooter2 li a,
.ulfooter3 li a {
  text-decoration: none;
  color: #fff;
}

/* AboutUs page1 main*/

.abaut-page1 {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.coffe-page1 {
  position: relative;
  top: 100px;
}
.coffe-page1 h1 {
  font-weight: 800;
}
.coffe1 {
  position: relative;
  top: -45px;
}
.coffe2 {
  position: relative;
  top: -530px;
  left: 180px;
}
.abaut-page2 {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
  top: -320px;
}
.image-page2-1 h2 {
  font-size: 42px;
}
.image-page2-1 {
  position: relative;
  top: -50px;
}
.image-page2-2 {
  position: relative;
  top: 100px;
  left: 70px;
}
.abaut-page3 {
  position: relative;display: flex;
  width: 80%;
  margin: 0 auto;
  top: -150px;
}
.main-content1 h2 {
  font-weight: 600;
}
.main-content2 {
  position: relative;
  top: -80px;
  left: 60px;
}
.abaut-page4 {
  position: relative;
  height: 520px;
  background-color: #F72D57;
  color: #fff;
  top: -70px;
}
.abaut-main-page4 {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.content-page4-1 {
  position: relative;
  top: 85px;
}
.content-page4-2 h2 {
  font-weight: 600;
}
.content-page4-2 {
  position: relative;
  top: 160px;
  left: 60px;
}
.abaut-page5 {
 position: relative;
 top: 20px;
}
.abaut-page5-h2 h2 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
.card-pagination {
  position: relative;
  display: flex;
  left: 10%;
  overflow: hidden;
}

/* blog page main */

.main-blog {
  width: 80%;
  margin: 0 auto;
}
.blogs-page1 {
  position: relative;
  text-align: center;
  margin: 120px auto;
}
.blog-button {
  background-color: #F72D57;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 13px 30px;
}
.blog-batton {
  background-color: #F72D57;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
}
.mainblog {
  position: relative;
  display: flex;
  background-color: #fff;
  margin-top: 40px;
  padding: 70px;
  border-radius: 18px;
  box-shadow: 1px 1px 10px 2px #ccc;
}
.content-blog2 {
  position: relative;
  left: 20px;
}

/* contacts page main */

.contacts-page1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.contact_page1 {
  position: absolute;
  top: 140px;
}
.contact_page1 h1 {
  font-weight: 800;
}
.contact_page1_2 {
  position: relative;
  top: -47px;
  left: 540px;
}

.contacts-page2 {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contact_main1 {
  position: relative;
  width: 373px;
  height: 456px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 2px #ccc;
}
.nav_contact1 {
  width: 100%;
  height:20px;
  background-color: #F2BC57;
  border-radius: 12px 12px 0 0;
}
.main_contact1 {
  position: relative;
  padding: 50px;
  top: 40px;
}
.contact_main_button {
  position: relative;
  top: 120px;
  left: 8px;
  background-color: #F2BC57;
  color: #fff;
  width: 240px;
  height: 46px;
  border: none;
  border-radius: 6px;
}
.contact_main2 {
  position: relative;
  width: 430px;
  height: 491px;
  top: -20px;
  margin: 0 30px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 2px #ccc;
}
.nav_contact2 {
  width: 100%;
  height:20px;
  background-color: #F72D57;
  border-radius: 12px 12px 0 0;
}
.main_contact2 {
  position: relative;
  padding: 50px;
  top: 40px;
}
.contact_main_button2 {
  position: relative;
  display: block;
  top: 100px;
  left: 50px;
  background-color: #F72D57;
  color: #fff;
  width: 240px;
  height: 46px;
  border: none;
  border-radius: 6px;
}
.contact_p {
  position: relative;
  text-decoration: none;
  color: #F72D57;
  top: 110px;
  left: 105px;
}
.contact_main_button3 {
  position: relative;
  top: 75px;
  left: 20px;
  background-color: #F2BC57;
  color: #fff;
  width: 240px;
  height: 46px;
  border: none;
  border-radius: 6px;
}
.contacts-page3 {
  width: 1440px;
  height: 590px;
  background-color: #F72D57;
  color: #fff;
  margin-bottom: 30px;
}
.contact_content_inputs {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  top: 80px;
}
.contact_content_inputs1 {
  display: flex;
  justify-content: space-between;
}
.contact_input2,
.contact_input3,
.contact_input {
  background-color: #C2294F;
  width: 373px;
  height: 40px;
  padding: 6px;
  padding-left: 12px;
  border-radius: 5px;
}
.contact_input2 input,
.contact_input3 input, 
.contact_input input {
  background-color: #C2294F;
  border: none;
  color: #fff;
  outline: none;
  width: 330px;
}
.contact_input2 input::placeholder,
.contact_input3 input::placeholder,
.contact_input input::placeholder,
.contact_content_inputs2 textarea::placeholder {
  color: #fff;
}
.contact_content_inputs2 {
  position: relative;
  background-color: #C2294F;
  border: none;
  color: #fff;
  height: 220px;
  border-radius: 5px;
  padding: 10px;
}
.contact_content_inputs2 textarea{
  background-color: #C2294F;
  border: none;
  color: #fff;
  outline: none;
  width: 1180px;
  height: 200px;
}
.bi-chat-dots-fill {
  position: relative;
  top: -182px;
  margin-left: 5px;
}

/* sign up page main */

.back_color {
    position: absolute;
    width: 120px;
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    position: relative;
    color: #FFF;
    background: #F72D57;
}
.back_color:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #F72D57;
    transform-origin: bottom left;
    -ms-transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    transform: skew(10deg, 0deg);
}